.main {
    margin-left: 320px; /* Same as the width of the sidenav + 20*/
    font-size: 22px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181;
  }
  
  .sidenav a {
    text-decoration: none;
    color: #b1b1b1;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sideBarFix {
      width: max-content;
  }

.regFormStyle:hover {
  box-shadow: 9px 14px;
}

  .regFormStyle {
    margin-left: 49%;
    margin-top: 2%;
    width: fit-content;
    border: solid #b1b1b1;
    background-color: rgba(17, 17, 17, 0.904);
    color: #818181;
    padding: 2%;
    box-shadow: 5px 10px;
  }

  .regErr {
    font-size: 12px;
    color: rgb(192, 98, 98);
  }

  .tekmeStyle {
    width: 100%;
    height: 100%;
    border: solid #b1b1b1;
    background-color: rgba(17, 17, 17, 0.904);
    color: #818181;
    padding: 2%;
    box-shadow: 5px 10px;
  }

  /* FORUM CSS BEGIN */
.forum a {
  text-decoration: none;
}

.forum div.glavni {
  border: solid #b1b1b1;
  background-color: rgba(17, 17, 17, 0.904);
  color: #818181;
  width: 100%;
  box-shadow: 5px 10px;
}

.forum-bottom, .thread-topComment {
  display: flex;
  color: gray;
  font-size: 14px;
}

.forum-timestamp {
  padding-right: 10px;
}

.forum-title {
  margin: 0;
}

.forum p {
  margin: 5px 0;
}

.forum-topBar {
  padding: 0 40px;
}

.forum-row {
  padding: 5px 0;
}

.forum textarea {
  width: 80%;
  height: 111px;
}

.forum button {
  display: block;
  margin: 10px 0;
}

.thread-comments {
  margin: 40px 0;
}

.thread-comment {
  margin: 10px 0;
}

.thread-commentTimeStamp {
  padding: 0 10px;
}

  /* FORUM CSS END */
