<body *ngIf="(korisnik === undefined) || ((korisnik !== undefined) && (korisnik.ulogovan === false))">
    <div class="container sidenav">
        
        <!-- SVG LOGO BEGIN -->
        <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="210" height="78" viewBox="0 0 226.443 94.471">
            <g id="Group_2" data-name="Group 2" transform="translate(-390.517 -349.17)">
              <g id="Group_1" data-name="Group 1" transform="translate(-4 5)">
                <path id="Path_1" data-name="Path 1" d="M18.9,63.54a17.508,17.508,0,0,1-8.64-2.13,15.338,15.338,0,0,1-6.03-6.03,18.068,18.068,0,0,1-2.19-9,17.685,17.685,0,0,1,2.25-9,15.636,15.636,0,0,1,6.15-6.03,17.849,17.849,0,0,1,8.7-2.13,17.849,17.849,0,0,1,8.7,2.13,15.636,15.636,0,0,1,6.15,6.03,17.685,17.685,0,0,1,2.25,9,17.324,17.324,0,0,1-2.31,9,16,16,0,0,1-6.24,6.03A18.145,18.145,0,0,1,18.9,63.54Zm0-7.32a8.738,8.738,0,0,0,4.29-1.11,8.067,8.067,0,0,0,3.21-3.33,11.222,11.222,0,0,0,1.2-5.4q0-4.74-2.49-7.29a8.185,8.185,0,0,0-6.09-2.55,7.993,7.993,0,0,0-6.03,2.55q-2.43,2.55-2.43,7.29t2.37,7.29A7.8,7.8,0,0,0,18.9,56.22Z" transform="translate(503 355)" fill="#2d5e2d"/>
                <path id="Path_2" data-name="Path 2" d="M14.775,25.16c-9.724-1.393-7.918,2.926-7.918,2.926S-2.868,30.7.845,24.43A11.867,11.867,0,0,1,1.552,23.1a2.126,2.126,0,0,0,1.3.58c.707,0,.943-.116,4.774-3.25s.766-4.7.766-4.7,5.658-3.017,10.255-3.134a24.14,24.14,0,0,0,8.84-2.205,12.863,12.863,0,0,0,6.07-5.919C35.557.232,35.616,0,35.616,0l.413,1.393a9.442,9.442,0,0,1,.758,8.265c-1.819,4.377-3.839,5.372-3.839,5.372s-7.779,5.471-.909,10.147,13.942-4.75,13.942-4.75-.825,7.137-10.364,13.8A41.214,41.214,0,0,0,22.238,49.707a14.418,14.418,0,0,0-2.652-5.78c-2.051-2.507-3.006-3.482-5.552-4.642,1.014-3.6,0-4.261,0-4.261s6.587-.6,8.81-4.178S24.5,26.552,14.775,25.16Z" transform="translate(515.838 346.576) rotate(-3)" fill="#a53d3d"/>
                <path id="Path_3" data-name="Path 3" d="M3.237,6.007A5.094,5.094,0,0,0,6.6,4.736C8.216,3.35,7.843,0,7.843,0A33.916,33.916,0,0,1,4.73,2.888C3.735,3.581,0,6.007,0,6.007Z" transform="translate(535.098 351.315) rotate(-24)" fill="#a53d3d"/>
                <path id="Path_4" data-name="Path 4" d="M1862.2,652.421a14.737,14.737,0,0,0,8.9-9.862c.395-2.335,1.246,21.014-8.1,27.339-12.583,5.606-18.935-4.743-18.935-4.743s-5.872-10.493-11.145-7.043,4.554,3.019,4.554,3.019-11.385-3.019-5.273-6.9,9.348,0,9.348,0,1.438,1.437,3.835,3.881a60.58,60.58,0,0,0,6.831,5.893c.719.431,5.393,2.012,8.389-1.15S1862.2,652.421,1862.2,652.421Z" transform="translate(-1295.235 -329.937) rotate(3)" fill="#a53d3d"/>
                <path id="Path_5" data-name="Path 5" d="M1863.25,609.75" transform="translate(-1398.301 -238.018)" fill="none" stroke="#707070" stroke-width="1"/>
                <g id="Path_7" data-name="Path 7" transform="translate(520.833 388.13)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_8" data-name="Path 8" transform="translate(520.833 413.756)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_9" data-name="Path 9" transform="translate(532.768 400.943)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_10" data-name="Path 10" transform="translate(509.898 400.943)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <path id="Path_12" data-name="Path 12" d="M19.835,25.14a25.639,25.639,0,0,1,11.9,2.644,18.891,18.891,0,0,1,7.933,7.533,22.44,22.44,0,0,1,2.8,11.346,22.1,22.1,0,0,1-2.8,11.284,19,19,0,0,1-7.933,7.472,25.638,25.638,0,0,1-11.9,2.644h-15V25.14Zm-.307,35.606q6.765,0,10.454-3.69t3.69-10.393q0-6.7-3.69-10.485T19.527,32.4H13.439v28.35Zm38-21.462A11.846,11.846,0,0,1,67.986,33.5v9.04H65.711q-4.059,0-6.119,1.906t-2.06,6.642V68.064H48.922V34h8.609ZM71.553,50.907a19.718,19.718,0,0,1,2.06-9.163,15.1,15.1,0,0,1,5.6-6.15,14.9,14.9,0,0,1,7.9-2.152,13.881,13.881,0,0,1,6.672,1.537,13.539,13.539,0,0,1,4.581,3.874V34h8.671V68.064H98.365V63.083a12.806,12.806,0,0,1-4.581,3.966,14.018,14.018,0,0,1-6.734,1.568A14.478,14.478,0,0,1,79.209,66.4a15.494,15.494,0,0,1-5.6-6.242A20.045,20.045,0,0,1,71.553,50.907Zm26.812.123a11.043,11.043,0,0,0-1.23-5.381,8.672,8.672,0,0,0-3.321-3.444,8.875,8.875,0,0,0-4.489-1.2,8.646,8.646,0,0,0-7.718,4.581,10.691,10.691,0,0,0-1.261,5.319,11.044,11.044,0,0,0,1.261,5.381,9.077,9.077,0,0,0,3.321,3.536,8.436,8.436,0,0,0,4.4,1.23,8.875,8.875,0,0,0,4.489-1.2,8.672,8.672,0,0,0,3.321-3.444A11.043,11.043,0,0,0,98.365,51.03ZM174.5,68.618a17.945,17.945,0,0,1-8.855-2.183,15.72,15.72,0,0,1-6.18-6.18,18.519,18.519,0,0,1-2.245-9.224,18.126,18.126,0,0,1,2.306-9.224,16.025,16.025,0,0,1,6.3-6.18,19.3,19.3,0,0,1,17.834,0,16.026,16.026,0,0,1,6.3,6.18,18.126,18.126,0,0,1,2.306,9.224,17.756,17.756,0,0,1-2.368,9.224,16.4,16.4,0,0,1-6.4,6.18A18.6,18.6,0,0,1,174.5,68.618Zm0-7.5a8.956,8.956,0,0,0,4.4-1.138,8.268,8.268,0,0,0,3.29-3.413,11.5,11.5,0,0,0,1.23-5.535q0-4.858-2.552-7.472a8.389,8.389,0,0,0-6.242-2.614,8.192,8.192,0,0,0-6.18,2.614q-2.491,2.614-2.491,7.472t2.429,7.472A8,8,0,0,0,174.5,61.115ZM217.482,33.5a13.131,13.131,0,0,1,9.839,3.843q3.751,3.843,3.751,10.731V68.064h-8.609V49.246A8.834,8.834,0,0,0,220.434,43a7.187,7.187,0,0,0-5.535-2.183A7.365,7.365,0,0,0,209.273,43a8.75,8.75,0,0,0-2.06,6.242V68.064H198.6V34h8.609v4.243a11.893,11.893,0,0,1,4.4-3.475A13.6,13.6,0,0,1,217.482,33.5Z" transform="translate(389.787 351.01)" fill="#b1b1b1" stroke="#b1b1b1" stroke-width="0.2"/>
              </g>
              <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(509 396)" fill="#2d5e2d" stroke="#b1b1b1" stroke-width="1">
                <ellipse cx="9.5" cy="10.5" rx="9.5" ry="10.5" stroke="none"/>
                <ellipse cx="9.5" cy="10.5" rx="9" ry="10" fill="none"/>
              </g>
            </g>
          </svg>
          </div>
          <br>
        <!-- SVG LOGO END -->
        
        <form (ngSubmit)="loginInput(logForm)" #logForm="ngForm" class="col-md-4">
            <div class="form-group">
                <label class="sideBarFix" for="username">Korisničko ime</label><br>
                <input class="form-control sideBarFix" type="text" ngModel name="username" placeholder="Korisničko ime"
                    required minlength="4" maxlength="14">
            </div>
            <div class="form-group">
                <label for="pass">Lozinka</label><br>
                <input class="form-control sideBarFix" type="password" ngModel name="pass" placeholder="Lozinka"
                    required minlength="8">
            </div>
            <button style="width: max-content;" type="submit" class="btn btn-primary"
                [disabled]="!logForm.valid" onclick="forumTest();">Prijavi se</button>
            <br>
            <br>
            <a class="sideBarFix" href="#">Zaboravili ste lozinku?</a><br>
            <p class="sideBarFix">Nemate nalog? <a href="#" onclick="forumTest()" (click)="registracija()">Registrujte se!</a></p>
        </form>
        <br>
        <div class="container">
            <a class="sideBarFix" href="#" onclick="forumTest()" (click)="tekme()">Aktuelne utakmice</a><br>
            <a class="sideBarFix" href="#?id=1" onclick="forumTest2()" (click)="forum()">Forum</a><br>
        </div>
    </div>
</body>

<body *ngIf="visibleTekme === true" style="background-color: lightgray;">
    <div class="container main tekmeStyle rounded border border-dark">
        <nav aria-label="breadcrumb">
            <h2>Sportovi</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" (click)="fudbal();">Fudbal</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="kosarka();">Košarka</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="rukomet();">Rukomet</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="odbojka();">Odbojka</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="tenis();">Tenis</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="hokej();">Hokej</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="pikado();">Pikado</a></li>
              <li class="breadcrumb-item"><a href="#" (click)="stonitenis();">Stoni tenis</a></li>
            </ol>
        <div *ngIf="fudbalLige === true">
            <h3>Fudbal</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Liga šampiona</a></li>
                <li class="breadcrumb-item"><a href="#">Engleska 2</a></li>
                <li class="breadcrumb-item"><a href="#">Kup libertadores</a></li>
                <li class="breadcrumb-item"><a href="#">Albanija 1</a></li>
                <li class="breadcrumb-item"><a href="#">Argentina kup</a></li>
                <li class="breadcrumb-item"><a href="#">Finska kup</a></li>
                <li class="breadcrumb-item"><a href="#">Iran 1</a></li>
                <li class="breadcrumb-item"><a href="#">Japan 1</a></li>
                <li class="breadcrumb-item"><a href="#">Japan 2</a></li>
                <li class="breadcrumb-item"><a href="#">Japan 3</a></li>
                <li class="breadcrumb-item"><a href="#">Kup Južne Amerike</a></li>
                <li class="breadcrumb-item"><a href="#">Nemačka 4 Bavarija</a></li>
                <li class="breadcrumb-item"><a href="#">Nemačka 4 sever play off</a></li>
                <li class="breadcrumb-item"><a href="#">Poljska 2</a></li>
            </ol>
        </div>
        <div *ngIf="kosarkaLige === true">
            <h3>Košarka</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Evroliga</a></li>
                <li class="breadcrumb-item"><a href="#">NBA play off</a></li>
                <li class="breadcrumb-item"><a href="#">Evrokup play off</a></li>
                <li class="breadcrumb-item"><a href="#">Francuska 1</a></li>
                <li class="breadcrumb-item"><a href="#">Bugarska 1 play off</a></li>
                <li class="breadcrumb-item"><a href="#">Francuska 2</a></li>
                <li class="breadcrumb-item"><a href="#">Japan 1</a></li>
                <li class="breadcrumb-item"><a href="#">Mađarska 1 plasman</a></li>
            </ol>
        </div>
        <div *ngIf="rukometLige === true">
            <h3>Rukomet</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Evropska liga</a></li>
                <li class="breadcrumb-item"><a href="#">Mađarska 1</a></li>
                <li class="breadcrumb-item"><a href="#">Norveška 1</a></li>
                <li class="breadcrumb-item"><a href="#">Švedska 1</a></li>
            </ol>
        </div>
        <div *ngIf="odbojkaLige === true">
            <h3>Odbojka</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Francuska 1</a></li>
                <li class="breadcrumb-item"><a href="#">Italija 1</a></li>
                <li class="breadcrumb-item"><a href="#">Turska 1</a></li>
                <li class="breadcrumb-item"><a href="#">Češka 1</a></li>
            </ol>
        </div>
        <div *ngIf="tenisLige === true">
            <h3>Tenis</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ATP Madrid zemlja</a></li>
                <li class="breadcrumb-item"><a href="#">ATP Madrid zemlja parovi</a></li>
                <li class="breadcrumb-item"><a href="#">WTA Madrid zemlja</a></li>
                <li class="breadcrumb-item"><a href="#">WTA Madrid zemlja parovi</a></li>
                <li class="breadcrumb-item"><a href="#">W100 Bonita Springs zemlja</a></li>
                <li class="breadcrumb-item"><a href="#">W100 Bonita Springs zemlja parovi</a></li>
                <li class="breadcrumb-item"><a href="#">W60 Prag zemlja</a></li>
            </ol>
        </div>
        <div *ngIf="hokejLige === true">
            <h3>Hokej</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">AHL play off</a></li>
                <li class="breadcrumb-item"><a href="#">NHL play off</a></li>
                <li class="breadcrumb-item"><a href="#">Svetsko prvenstvo divizija 1</a></li>
                <li class="breadcrumb-item"><a href="#">Švedska 1</a></li>
            </ol>
        </div>
        <div *ngIf="pikadoLige === true">
            <h3>Pikado</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Online live liga</a></li>
            </ol>
        </div>
        <div *ngIf="stonitenisLige === true">
            <h3>Stoni tenis</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Rusija liga pro</a></li>
            </ol>
        </div>
          </nav>
        <br>
        TODO: utakmice, kvote i sl.
    </div>
</body>

<body *ngIf="visibleTiket === true" style="background-color: lightgray;">
    <div class="container main regFormStyle rounded border border-dark">
        <p>Mečevi na koje se možete kladiti:</p>
        <select>
            <option value="ATPMadridZemlja">N.Djokovic - R.Nadal (1) kv. 1.55</option>
            <option value="ATPMadridZemlja">N.Djokovic - R.Nadal (2) kv. 1.45</option>
            <option value="ATPMadridZemlja">R.Federer - K.Alkaraz (1) kv. 2.00</option>
            <option value="ATPMadridZemlja">R.Federer - K.Alkaraz (2) kv. 1.35</option>
        </select><br><br>
        <button class="btn-primary btn" (click)="dodajUTiket()">Dodaj odabranu utakmicu na tiket</button><br><br>
        <p>Vaš tiket:</p>
        <p class="aktuelni_tiket" id="aktuelni_tiket">/</p>
        <!--<p>{{tiket2.mecevi}}</p>-->
        <button class="btn-primary btn">Odigraj tiket</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-primary btn">Odustani</button>
    </div>
</body>

<!-- FORUM BEGIN -->
<body id="forumTest" style="background-color: lightgray; display: none;" class="forum">
    <div id="f1" class="container main glavni rounded border border-dark" *ngIf="forumThread === false">
        <div class="forum-topBar">
            <h1>Forum</h1>
        </div>
        <ol class="forum-ol" id="forum-ol">
            
        </ol>
    </div>
    <div id="forumThread" class="container main glavni rounded border border-dark" style="display: none;">
        <div class="forum-topBar">
            <h1>Forum</h1>
        </div>
        <div class="thread-header">
        
        </div>
        <div>
        <!--<div *ngIf="(korisnik !== undefined) && (korisnik.ulogovan === true)">-->
            <textarea class="forumKomentar"></textarea>
            <button class="btn btn-primary forumDugme">dodaj komentar</button>
        </div>
        <div class="thread-comments">
            <div class="thread-comment">
                
            </div>
        </div>
        <a href="#?id=1" onclick="forumThreadHide();" (click)="forumThread = false">Nazad</a>
    </div>
    <!--<div *ngIf="(korisnik !== undefined) && (korisnik.ulogovan === true)" class="container main glavni rounded border border-dark">
        TODO: kreiranje nove teme na forumu
    </div>-->
    <!--<script src="../../assets/data.js"></script>-->
    <script src="../../assets/forum.js"></script>
</body>
<!-- FORUM END -->

<body *ngIf="(korisnik !== undefined) && (korisnik.ulogovan === true)">
    <div class="container sidenav">

        <!-- SVG LOGO BEGIN -->
        <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="210" height="78" viewBox="0 0 226.443 94.471">
            <g id="Group_2" data-name="Group 2" transform="translate(-390.517 -349.17)">
              <g id="Group_1" data-name="Group 1" transform="translate(-4 5)">
                <path id="Path_1" data-name="Path 1" d="M18.9,63.54a17.508,17.508,0,0,1-8.64-2.13,15.338,15.338,0,0,1-6.03-6.03,18.068,18.068,0,0,1-2.19-9,17.685,17.685,0,0,1,2.25-9,15.636,15.636,0,0,1,6.15-6.03,17.849,17.849,0,0,1,8.7-2.13,17.849,17.849,0,0,1,8.7,2.13,15.636,15.636,0,0,1,6.15,6.03,17.685,17.685,0,0,1,2.25,9,17.324,17.324,0,0,1-2.31,9,16,16,0,0,1-6.24,6.03A18.145,18.145,0,0,1,18.9,63.54Zm0-7.32a8.738,8.738,0,0,0,4.29-1.11,8.067,8.067,0,0,0,3.21-3.33,11.222,11.222,0,0,0,1.2-5.4q0-4.74-2.49-7.29a8.185,8.185,0,0,0-6.09-2.55,7.993,7.993,0,0,0-6.03,2.55q-2.43,2.55-2.43,7.29t2.37,7.29A7.8,7.8,0,0,0,18.9,56.22Z" transform="translate(503 355)" fill="#2d5e2d"/>
                <path id="Path_2" data-name="Path 2" d="M14.775,25.16c-9.724-1.393-7.918,2.926-7.918,2.926S-2.868,30.7.845,24.43A11.867,11.867,0,0,1,1.552,23.1a2.126,2.126,0,0,0,1.3.58c.707,0,.943-.116,4.774-3.25s.766-4.7.766-4.7,5.658-3.017,10.255-3.134a24.14,24.14,0,0,0,8.84-2.205,12.863,12.863,0,0,0,6.07-5.919C35.557.232,35.616,0,35.616,0l.413,1.393a9.442,9.442,0,0,1,.758,8.265c-1.819,4.377-3.839,5.372-3.839,5.372s-7.779,5.471-.909,10.147,13.942-4.75,13.942-4.75-.825,7.137-10.364,13.8A41.214,41.214,0,0,0,22.238,49.707a14.418,14.418,0,0,0-2.652-5.78c-2.051-2.507-3.006-3.482-5.552-4.642,1.014-3.6,0-4.261,0-4.261s6.587-.6,8.81-4.178S24.5,26.552,14.775,25.16Z" transform="translate(515.838 346.576) rotate(-3)" fill="#a53d3d"/>
                <path id="Path_3" data-name="Path 3" d="M3.237,6.007A5.094,5.094,0,0,0,6.6,4.736C8.216,3.35,7.843,0,7.843,0A33.916,33.916,0,0,1,4.73,2.888C3.735,3.581,0,6.007,0,6.007Z" transform="translate(535.098 351.315) rotate(-24)" fill="#a53d3d"/>
                <path id="Path_4" data-name="Path 4" d="M1862.2,652.421a14.737,14.737,0,0,0,8.9-9.862c.395-2.335,1.246,21.014-8.1,27.339-12.583,5.606-18.935-4.743-18.935-4.743s-5.872-10.493-11.145-7.043,4.554,3.019,4.554,3.019-11.385-3.019-5.273-6.9,9.348,0,9.348,0,1.438,1.437,3.835,3.881a60.58,60.58,0,0,0,6.831,5.893c.719.431,5.393,2.012,8.389-1.15S1862.2,652.421,1862.2,652.421Z" transform="translate(-1295.235 -329.937) rotate(3)" fill="#a53d3d"/>
                <path id="Path_5" data-name="Path 5" d="M1863.25,609.75" transform="translate(-1398.301 -238.018)" fill="none" stroke="#707070" stroke-width="1"/>
                <g id="Path_7" data-name="Path 7" transform="translate(520.833 388.13)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_8" data-name="Path 8" transform="translate(520.833 413.756)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_9" data-name="Path 9" transform="translate(532.768 400.943)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <g id="Path_10" data-name="Path 10" transform="translate(509.898 400.943)" fill="#b1b1b1">
                  <path d="M 0.8785113096237183 1.257021427154541 C 0.6698012948036194 1.257021427154541 0.5000013113021851 1.087221384048462 0.5000013113021851 0.878511369228363 C 0.5000013113021851 0.6698013544082642 0.6698012948036194 0.5000013709068298 0.8785113096237183 0.5000013709068298 C 1.087221264839172 0.5000013709068298 1.257021307945251 0.6698013544082642 1.257021307945251 0.878511369228363 C 1.257021307945251 1.087221384048462 1.087221264839172 1.257021427154541 0.8785113096237183 1.257021427154541 Z" stroke="none"/>
                  <path d="M 0.8785113096237183 1.311302185058594e-06 C 1.363701343536377 1.311302185058594e-06 1.757021307945251 0.3933213949203491 1.757021307945251 0.878511369228363 C 1.757021307945251 1.363701343536377 1.363701343536377 1.757021427154541 0.8785113096237183 1.757021427154541 C 0.3933212757110596 1.757021427154541 1.311302185058594e-06 1.363701343536377 1.311302185058594e-06 0.878511369228363 C 1.311302185058594e-06 0.3933213949203491 0.3933212757110596 1.311302185058594e-06 0.8785113096237183 1.311302185058594e-06 Z" stroke="none" fill="#b1b1b1"/>
                </g>
                <path id="Path_12" data-name="Path 12" d="M19.835,25.14a25.639,25.639,0,0,1,11.9,2.644,18.891,18.891,0,0,1,7.933,7.533,22.44,22.44,0,0,1,2.8,11.346,22.1,22.1,0,0,1-2.8,11.284,19,19,0,0,1-7.933,7.472,25.638,25.638,0,0,1-11.9,2.644h-15V25.14Zm-.307,35.606q6.765,0,10.454-3.69t3.69-10.393q0-6.7-3.69-10.485T19.527,32.4H13.439v28.35Zm38-21.462A11.846,11.846,0,0,1,67.986,33.5v9.04H65.711q-4.059,0-6.119,1.906t-2.06,6.642V68.064H48.922V34h8.609ZM71.553,50.907a19.718,19.718,0,0,1,2.06-9.163,15.1,15.1,0,0,1,5.6-6.15,14.9,14.9,0,0,1,7.9-2.152,13.881,13.881,0,0,1,6.672,1.537,13.539,13.539,0,0,1,4.581,3.874V34h8.671V68.064H98.365V63.083a12.806,12.806,0,0,1-4.581,3.966,14.018,14.018,0,0,1-6.734,1.568A14.478,14.478,0,0,1,79.209,66.4a15.494,15.494,0,0,1-5.6-6.242A20.045,20.045,0,0,1,71.553,50.907Zm26.812.123a11.043,11.043,0,0,0-1.23-5.381,8.672,8.672,0,0,0-3.321-3.444,8.875,8.875,0,0,0-4.489-1.2,8.646,8.646,0,0,0-7.718,4.581,10.691,10.691,0,0,0-1.261,5.319,11.044,11.044,0,0,0,1.261,5.381,9.077,9.077,0,0,0,3.321,3.536,8.436,8.436,0,0,0,4.4,1.23,8.875,8.875,0,0,0,4.489-1.2,8.672,8.672,0,0,0,3.321-3.444A11.043,11.043,0,0,0,98.365,51.03ZM174.5,68.618a17.945,17.945,0,0,1-8.855-2.183,15.72,15.72,0,0,1-6.18-6.18,18.519,18.519,0,0,1-2.245-9.224,18.126,18.126,0,0,1,2.306-9.224,16.025,16.025,0,0,1,6.3-6.18,19.3,19.3,0,0,1,17.834,0,16.026,16.026,0,0,1,6.3,6.18,18.126,18.126,0,0,1,2.306,9.224,17.756,17.756,0,0,1-2.368,9.224,16.4,16.4,0,0,1-6.4,6.18A18.6,18.6,0,0,1,174.5,68.618Zm0-7.5a8.956,8.956,0,0,0,4.4-1.138,8.268,8.268,0,0,0,3.29-3.413,11.5,11.5,0,0,0,1.23-5.535q0-4.858-2.552-7.472a8.389,8.389,0,0,0-6.242-2.614,8.192,8.192,0,0,0-6.18,2.614q-2.491,2.614-2.491,7.472t2.429,7.472A8,8,0,0,0,174.5,61.115ZM217.482,33.5a13.131,13.131,0,0,1,9.839,3.843q3.751,3.843,3.751,10.731V68.064h-8.609V49.246A8.834,8.834,0,0,0,220.434,43a7.187,7.187,0,0,0-5.535-2.183A7.365,7.365,0,0,0,209.273,43a8.75,8.75,0,0,0-2.06,6.242V68.064H198.6V34h8.609v4.243a11.893,11.893,0,0,1,4.4-3.475A13.6,13.6,0,0,1,217.482,33.5Z" transform="translate(389.787 351.01)" fill="#b1b1b1" stroke="#b1b1b1" stroke-width="0.2"/>
              </g>
              <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(509 396)" fill="#2d5e2d" stroke="#b1b1b1" stroke-width="1">
                <ellipse cx="9.5" cy="10.5" rx="9.5" ry="10.5" stroke="none"/>
                <ellipse cx="9.5" cy="10.5" rx="9" ry="10" fill="none"/>
              </g>
            </g>
          </svg>
          </div>
          <br>
        <!-- SVG LOGO END -->

        <div class="container">
        <p class="sideBarFix">Dobro došli na sajt!<br>Ulogovani ste kao: <strong>{{korisnik.username}}</strong></p>
        <button type="submit" class="btn btn-primary" onclick="forumTest()" (click)="homepage1()">Odjavi se</button>
        <br>
        <br>
        <p>Krediti: {{korisnik.krediti}}</p>
        <a class="sideBarFix" href="#" onclick="forumTest()" (click)="tekme()">Aktuelne utakmice</a><br>
        <a class="sideBarFix" href="#" onclick="forumTest()" (click)="tiket()">Odigraj tiket!</a><br>
        <a class="sideBarFix" href="#" onclick="forumTest2()" (click)="forum()">Forum</a><br>
            </div>
    </div>
</body>

<body *ngIf="(visibleRegistration === true)" style="background-color: lightgray;">
    <div class="container main regFormStyle rounded border border-dark">
        <h2>Registracija</h2>
        <p *ngIf="regSuccess === true">Uspešno ste se registrovali <strong>{{korisnik.username}}</strong>!
            <br>Sada možete da igrate tikete i<br> da učestvujete u raspravama na forumu.<br>
        </p>
        <form (ngSubmit)="registrationInput(regForm)" #regForm="ngForm" novalidate *ngIf="regSuccess === false">
            <div class="form-group">
                <label for="username">Korisničko ime</label><br>
                <input class="form-control" type="text" ngModel name="username" placeholder="Korisničko ime" required
                    minlength="4" maxlength="14" #username="ngModel">

                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert regErr">
                    <div *ngIf="username.errors?.['required']">
                        Korisničko ime je neophodno.
                    </div>
                    <div *ngIf="username.errors?.['minlength']">
                        Ime mora sadržati najmanje 4 karaktera.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Adresa elektronske pošte</label><br>
                <input class="form-control" type="text" ngModel name="email" placeholder="Email" required
                    #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert regErr">
                    <div *ngIf="email.errors?.['required']">
                        Unesite validnu email adresu.
                    </div>
                    <div *ngIf="email.errors?.['pattern']">
                        Unesite validnu email adresu.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pass">Lozinka</label><br>
                <input class="form-control" type="password" ngModel name="pass" #pass="ngModel" placeholder="Lozinka"
                    required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert regErr">
                    <div *ngIf="pass.errors?.['required']">
                        Unesite lozinku.
                    </div>
                    <div *ngIf="pass.errors?.['minlength']">
                        Lozinka mora sadržati najmanje 8 karaktera.
                    </div>
                    <div *ngIf="pass.errors?.['pattern']">
                        Lozinka mora sadržati barem jednu cifru,<br> jedno veliko slovo i jedno malo slovo.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="confirmpassword">Potvrdite lozinku</label><br>
                <input class="form-control" type="password" ngModel name="confirmpassword"
                    placeholder="Potvrdite lozinku" required pattern="{{pass.value}}" #confirmpassword="ngModel">
                <div *ngIf=" confirmpassword.invalid && (regForm.submitted || confirmpassword.touched)"
                    class="alert regErr">
                    <div *ngIf="confirmpassword.errors?.['required']"> Potvrda lozinke je obavezna. </div>
                    <div *ngIf="confirmpassword.errors?.['pattern']"> Lozinke se ne poklapaju. </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!regForm.valid" onclick="forumTest()">Kreiraj nalog</button>
        </form>
    </div>
</body>